<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shinichi.ujianonline2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_guru" />
        <activity android:name=".Register" />
        <activity android:name=".login_siswa" />
        <activity android:name=".Register_Siswa" />
        <activity android:name=".Halaman_Guru" />
        <activity android:name=".Halaman_Siswa" />
        <activity android:name=".membuat_soal_pg" />
        <activity android:name=".pilih_soal" />
        <activity android:name=".mengerjakan_ujianPG" />
        <activity android:name=".Lihat_Nilai" />
        <activity android:name=".Tampil_SoalPG"></activity>
    </application>

</manifest>
